<!DOCTYPE html>
<html ng-app="app">
<head>

    <title>senServer</title>
    <script src="/static/angular/angular.min.js"></script>
    <script src="/static/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/index.css" rel="stylesheet" />
</head>
<body class="container">
    <div class="row" style="padding: 2px;">
        <div class="heading col-xs-12">senServer</div>
    </div>
    <dashboard></dashboard>
</body>
</html>
