body {
    margin: 2px;
    background: #000;
    color: black !important;
}

.heading {
  /*  border: solid 1px #000; */
    border-radius: 0px;
    text-align: left;
    padding: 2px;
    padding-left: 8px;
    font-size: 24px;
    background: #ccc;
}
.dashboard .meter {
    padding: 2px;
    margin: 0;
}

.dashboard .meter > div {
 /*   border: solid 1px #000; */
    border-radius: 0px;
    background: #ccc;
    text-align: center;
    max-height: 64px;
    height:64px;
}

.dashboard .meter > div img {
    height: 48px;
    float: left;
    margin: 8px;
    margin-left: 12px;
}

.dashboard .meter > div img.value {
    height: 96px;
    margin-top: 20px;
    float: none;
    padding: 0;

}

.dashboard .meter span.value {
    font-size: 24pt;
    text-align: center;
    position: relative;
    height: 48px;
    vertical-align: middle;
}

.dashboard .meter .unit {
    font-size: 14pt;
    float: right;
    font-weight: bold;
    padding: 8px;
    height: 48px;
    vertical-align: middle;
}

#lineChart {
    width: 100% !important;
    height: 25vh !important;
    background: #ccc !important;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.temperature {
    stroke: #cc6666;
    background: #cc6666 !important;
}
.humidity {
    stroke: #6666cc;
    background: #6666cc !important;
}
.pressure {
     stroke: #66cc66;
    background: #66cc66 !important;
}

th,
td {
    border-color: #000 !important;
}
.section {
    position: relative;
    top: -2px;
    padding-right: 4px;
    opacity: 0.5;
}
.section img {
    width: 24px;
    height: 24px;
}
.section:hover {

    opacity: 1;
}
.section.active {
    opacity: 1;
}