<!DOCTYPE html>
<html ng-app="app">
<head>

    <title>SENSERVER 2016</title>

    <script src="/static/d3/d3.min.js"></script>
    <script src="/static/jquery/jquery-2.2.4.min.js"></script>
    <script src="/static/angular/angular.min.js"></script>
    <script src="/static/moment/moment.min.js"></script>
    <script src="/static/lodash/lodash.min.js"></script>

    <script src="/static/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/index.css" rel="stylesheet" />
</head>
<body class="container" ng-controller="index">
<div class="row" style="padding: 2px;">
    <div class="heading col-xs-12">SENSERVER 2016
        <div ng-repeat="section in sections" ng-class="{active: section==activeSection}" class="pull-right section"><a ng-click="setActive(section)"><img src="/static/icons/{{ section }}.png"/></a>
        </div>

    </div>
</div>
    <dashboard ng-if="activeSection == 'dashboard'"></dashboard>
<div class="row">

    <notifications ng-if="activeSection == 'notifications'"></notifications>
    <history ng-if="activeSection == 'history'"></history>
    
</div>

</body>
</html>
